@model PersonViewModel

<ul id="coachesTeamList" class="detailsViewList">

    @foreach (var team in Model.Person.CoachTeams)
    {
        <li>
            <a asp-area="Sports" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name</a>
        </li>
    }

</ul>