@model M42.Web.SportsCards.ReleaseYearViewModel

<div style="float:left">
    @Html.Label("# of Manufacturers")
    @Model.ReleaseYear.NumManufacturers
</div>
<div style="clear:both"></div>

<div style="float:left">
    @Html.Label("# of Releases")
    @Model.ReleaseYear.NumReleases
</div>
<div style="clear:both"></div>