@model M42.Web.SportsCards.ReleaseYearViewModel

@{
    ViewData["Title"] = @Model.DisplayName;
}


<section id="detailsView" class="detailsView">
    <header>
        <h2>@Model.DisplayName</h2>
    </header>

    @await Html.PartialAsync(@Model.DetailsView, @Model)
</section>

<hr />

<section id="releaseYears" style="width:100%; font-size:7pt">

    @await Html.PartialAsync("~/Areas/SportsCards/Views/ReleaseYears/_ReleaseYearReleasesView.cshtml", @Model)

</section>



