@model HallOfFameViewModel

    <div id="name">
        @Html.Label("Inaugural Year")
        @Html.DisplayFor(x => x.HallOfFame.InauguralYear)
    </div>
    <div id="name">
        @Html.Label("Number of Inductees")
        @Html.DisplayFor(x => x.HallOfFame.NumMembers)
    </div>

