@model TeamViewModel

<ul id="teamRoster" class="detailsViewList">

    @foreach (var person in Model.Team.Roster)
    {
        <li>
            <a asp-area="Sports" asp-controller="People" asp-action="Details" asp-route-id="@person.Id">@person.Name</a>
        </li>
    }

</ul>