@model M42.Web.Inventory.InventoryItemViewModel

@{
    ViewData["Title"] = @Model.DisplayName;
}

<section id="detailsView" class="detailsView">
    <header>
        <h2>@Model.DisplayName</h2>
    </header>

</section>






