@model M42.Web.Inventory.ContainerViewModel

    <div style="float:left">
        @Html.Label("Container Type")

        @Model.Container.ContainerType.Name
    </div>

<div style="clear:both"></div>

<div style="float:left">
    @Html.Label("# of Inventory")

    @Model.Container.NumInventory
</div>

<div style="clear:both"></div>
   